<!-- templates/search.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Search Star Wars Books</h1>
        <nav>
            <h2>
                <ul>
                    <li><a href="{{ url_for('index.home') }}">Home</a></li>
                    <!-- ... כאן יהיו הקישורים האחרים ... -->
                </ul>
            </h2>
        </nav>
    </header>
    <div id="searchContainer"></div>
</body>
</html>
